@import url("https://fonts.googleapis.com/css2?family=REM:wght@500&display=swap");

* {
  margin: 0;
}
body {
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}
h1 {
  margin: 30px 0;
}
button {
  font-family: "REM", sans-serif;
  width: 20vh;
  height: 20vh;
  background-color: #ff9500;
  font-size: 15vh;
  border: 1px solid black;
}
button:hover {
  background-color: #ffa72c;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.xo {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 60vh;
  height: 60vh;
}
.X {
  color: #00308f;
}
.O {
  color: #aa0000;
}
.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #00000085;
}
.choose {
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}
.play {
  font-size: 32px;
}

@media screen and (orientation: portrait) {
  .xo {
    width: 90vw;
    height: 90vw;
  }
  button {
    width: 30vw;
    height: 30vw;
    font-size: 25vw;
  }
}
